/Users/ztlab141/Desktop/UI TESTING/Dashboard/apk
/Users/ztlab141/Desktop/UI TESTING/Login using Email/apk
/Users/ztlab141/Desktop/UI TESTING/Login using Phone/apk
/Users/ztlab141/Desktop/UI TESTING/Marketplace feed /apk