/Users/ztlab141/Desktop/UI TESTING/Dashboard/apk
/Users/ztlab141/Desktop/UI TESTING/Login using Email/apk
/Users/ztlab141/Desktop/UI TESTING/Login using Phone/apk
/Users/ztlab141/Desktop/UI TESTING/Marketplace feed /apk
/Users/ztlab141/Desktop/UI TESTING/Menu Activity/Add Animal Record/apk
/Users/ztlab141/Desktop/UI TESTING/Menu Activity/Animal Groups/apk
/Users/ztlab141/Desktop/UI TESTING/Menu Activity/Animal Groups copy/apk
/Users/ztlab141/Desktop/UI TESTING/Menu Activity/Help & Support/apk
/Users/ztlab141/Desktop/UI TESTING/Menu Activity/My Feed Inventory/apk
/Users/ztlab141/Desktop/UI TESTING/Menu Activity/My Profile/apk
/Users/ztlab141/Desktop/UI TESTING/Menu Activity/Onboard Group
/Users/ztlab141/Desktop/UI TESTING/Menu Activity/Record Animal Sale/apk
/Users/ztlab141/Desktop/UI TESTING/Menu Activity/Reset Passwod/apk